<ul>
    <li>
        <h2>Location Information</h2>
        <div id="location"></div>
    </li>
    <li>
        <h2>Use and Construction</h2>
        <div id="construction"></div>
    </li>
    <li>
        <h2>Values (at Replacement Cost New)</h2>
        <div id="replacement"></div>
    </li>
    <li>
        <h2>Natural Catastrophy Exposures</h2>
        <div id="catastrophy"></div>
    </li>
</ul>
<script>
    (function ($j) {
        var location = [
                ['', '', '', '', '', '', '', '', '']
            ],
            construction = [
                ['', '', '', '', '', '']
            ],
            replacement = [
                ['', '', '', '', '']
            ],
            catastrophy = [
                ['', '', '']
            ];

        $j(document.getElementById('location')).handsontable({
            data: location,
            minSpareRows: 1,
            colHeaders: [
                'Location #',
                'Building #',
                'Street Address',
                'City',
                'State',
                'Country',
                'Zip Code',
                'Owned/Leased',
                'If leased, lease termination date'
            ],
            contextMenu: true,
            columnSorting: true,
            search: true
        });

        $j(document.getElementById('construction')).handsontable({
            data: construction,
            minSpareRows: 1,
            colHeaders: [
                'Occupancy',
                'Wall Construction',
                'Roof Construction',
                'Intermediate Floor Construction',
                'Year Built',
                'Sq. Ft.',
                'Fire Protection (i.e. Smoke Detectors; Automatic Sprinklers)'
            ],
            contextMenu: true,
            columnSorting: true,
            search: true
        });

        $j(document.getElementById('replacement')).handsontable({
            data: replacement,
            minSpareRows: 1,
            colHeaders: [
                'Building',
                'Raw Materials/Stock & Supplies',
                'Finished Inventory',
                'Business Interruption',
                'TOTAL'
            ],
            contextMenu: true,
            columnSorting: true,
            search: true
        });

        $j(document.getElementById('catastrophy')).handsontable({
            data: catastrophy,
            minSpareRows: 1,
            colHeaders: [
                'Flood',
                'Tropical Storm',
                'Earthquake'
            ],
            contextMenu: true,
            columnSorting: true,
            search: true
        });
    })(jQuery);
</script>